@import "../../../shared/variables.scss";

.GameMenu {
  margin: 16px auto;

  .DragonCircle {
    display: block;
    margin: 0 auto;
    -webkit-filter: drop-shadow(
      0px 4px 8px rgba($color: $clr-vulcan, $alpha: 0.75)
    );
    filter: drop-shadow(0px 4px 8px rgba($color: $clr-vulcan, $alpha: 0.75));
  }

  .MenuButtonsContainer {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    button {
      display: inline-block;

      &:last-of-type {
        margin-left: 16px;
      }
    }
  }
}

@media screen and (max-width: 451px) {
  .GameMenu {
    .DragonCircle {
      height: auto;
      width: 100%;
    }
    .MenuButtonsContainer {
      flex-direction: column;
      button {
        &:last-of-type {
          margin-left: 0;
          margin-top: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 367px) {
  .GameMenu {
    .DragonCircle {
      width: 100%;
    }
  }
}
