@import "../../shared/variables.scss";

.TextBubbleAvatar {
  margin-top: $spc-between-sections-desktop;
  display: flex;
  align-items: center;
}

.TextBubbleRectangle {
  height: 100%;
  background-color: $clr-vulcan;
  border: 4px solid $clr-martinique;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  padding: 24px;
  position: relative;

  &:after {
    content: "";
    height: 16px;
    width: 16px;
    position: absolute;
    background-color: $clr-vulcan;
    border-top: 4px solid $clr-martinique;
    border-left: 4px solid $clr-martinique;
    -webkit-border-radius: 12px 0 0 0;
    -moz-border-radius: 12px 0 0 0;
    border-radius: 12px 0 0 0;
    top: 43%;
  }

  p {
    margin-top: 8px;
  }
}

.PointerRight {
  &:after {
    right: -13px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
.PointerLeft {
  &:after {
    left: -13px;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }
}

.Avatar {
  width: 25%;
  height: auto;
}

.FacingLeft {
  margin-left: 16px;
}

.FacingRight {
  margin-right: 16px;
}

.Avatar86 {
  display: none;
}

@media screen and (max-width: 541px) {
  .TextBubbleAvatar {
    margin-top: $spc-between-sections-mobile;
  }

  .TextBubbleRectangle {
    padding: 16px;
  }

  .Avatar180 {
    display: none;
  }

  .Avatar86 {
    display: initial;
  }
}
