.IsometricMapDots {
  position: relative;
  z-index: 1;

  img {
    position: absolute;
    transition: opacity 0.4s ease;
  }

  &:nth-of-type(1) {
    img {
      margin-top: 20.3%;
      margin-left: 21.9%;
    }
    .IsometricSelected {
      margin-top: calc(20.3% - 8px);
      margin-left: calc(21.9% - 8px);
    }
  }

  &:nth-of-type(2) {
    img {
      margin-top: 53.7%;
      margin-left: 68%;
    }
    .IsometricSelected {
      margin-top: calc(53.7% - 8px);
      margin-left: calc(68% - 8px);
    }
  }
}

.Invisible {
  opacity: 0;
}

.Visible {
  opacity: 1;
}

.SlightOpacity {
  opacity: 0.75;
}
