.NotActive {
  display: none;
}

.ClawMarks {
  position: absolute;
  width: 100px;
  top: 30%;
  left: 17%;
  opacity: 0;
  z-index: 3;
  animation: flash 900ms ease-out 0s 1;
}

.Duplicate {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  animation: flashDuplicate 900ms ease-out 0s 1;
}

.ClawMiss {
  left: 33%;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flashDuplicate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 601px) {
  .ClawMarks {
    top: 25%;
    width: 90px;
  }
}

@media screen and (max-width: 501px) {
  .ClawMarks {
    top: 20%;
    width: 80px;
  }
}

@media screen and (max-width: 401px) {
  .ClawMarks {
    width: 60px;
  }
}

@media screen and (max-width: 325px) {
  .ClawMarks {
    width: 50px;
  }
}
