@import "../../../shared/variables.scss";

.ToolArrowSelector {
  margin-top: 8px;
  display: flex;
}

.ToolName {
  height: 48px;
  background-color: $clr-martinique;
  line-height: 48px;
  width: 170px;
  padding-left: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
