@import "../../../shared/variables.scss";

.ArrowButton {
  // remove default button styles
  border: none;
  cursor: pointer;
  background: none;
  outline: 0;
  padding: 0;

  i {
    font-size: 48px;
    color: $clr-arrow;

    &:hover {
      color: $clr-arrow-hover;
    }
    &:active {
      color: $clr-arrow-active;
    }
  }
  &:first-of-type i {
    margin-right: 8px;
  }
  &:last-of-type i {
    margin-left: 8px;
  }
}
