@import "../../shared/variables.scss";

.ProjectCard {
  padding: 16px;
  background-color: $clr-martinique;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  .Tags {
    margin-top: 8px;
  }
}

.DndProjectCard {
  transition: transform 0.4s ease;
  position: absolute;
}

.Left {
  -webkit-transform: translateX(calc(-100% - 16px));
  transform: translateX(calc(-100% - 16px));
}

.Center {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.Right {
  -webkit-transform: translateX(calc(100% + 16px));
  transform: translateX(calc(100% + 16px));
}

.Hidden {
  display: none;
}

@media screen and (max-width: 596px) {
  .DndProjectCard {
    width: 100%;

    .DndLogo {
      margin-bottom: 4px;
    }
  }
}
