@import "../../shared/variables.scss";

.AdditionalProjects {
  margin-top: $spc-under-textAvatar-desktop;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px 16px;
  grid-template-areas:
    ". ."
    ". .";
  .AdditionalProject {
    button {
      margin-top: 8px;
    }
  }
}

@media screen and (max-width: 541px) {
  .AdditionalProjects {
    margin-top: $spc-under-textAvatar-mobile;
    display: unset;

    .AdditionalProject {
      margin-top: 24px;
    }
  }
}
