.AdditionalProjects {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px 16px;
  grid-template-areas:
    ". ."
    ". .";
  .AdditionalProject {
    button {
      margin-top: 8px;
    }
  }
}
