@import "../../shared/variables.scss";

.TextLinkButton {
  background: none;
  color: $clr-primary;
  border: none;
  padding: 0;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  outline: none;

  &:hover {
    color: $clr-primary-hover;
  }

  &:active {
    color: $clr-primary-active;
  }
}

.GameSection {
  .GameHeader {
    display: flex;
    justify-content: space-between;

    .CloseIcon {
      cursor: pointer;
      &:hover {
        color: $clr-arrow-hover;
      }

      &:active {
        color: $clr-arrow-active;
      }
    }
  }
}

.AdditionalProjects {
  margin-top: $spc-under-textAvatar-desktop;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px 16px;
  grid-template-areas:
    ". ."
    ". .";
  .AdditionalProject {
    button {
      margin-top: 8px;
    }
  }
}

.Darkened {
  opacity: 0.6;
  filter: brightness(50%);
}

@media screen and (max-width: 541px) {
  .AdditionalProjects {
    margin-top: $spc-under-textAvatar-mobile;
    display: unset;

    .AdditionalProject {
      margin-top: 24px;
    }
  }
}
