.NotActive {
  display: none;
}

.LightningBolt {
  opacity: 1;
  animation: flash 200ms linear 0s infinite, opacity 900ms 0s linear 2;
  position: absolute;
  top: 28%;
  left: 29%;
  z-index: 3;
}

.Miss {
  top: -4%;
}

@keyframes flash {
  0% {
    transform: skew(-2deg, -2deg);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 720px) {
  .LightningBolt {
    top: 22%;
    width: 45%;
  }

  .Miss {
    top: -3%;
    width: 32%;
  }
}

@media screen and (max-width: 541px) {
  .LightningBolt {
    top: 22%;
  }

  .Miss {
    top: -1%;
    width: 34%;
  }
}

@media screen and (max-width: 500px) {
  .LightningBolt {
    top: 18%;
  }
  .Miss {
    top: -3%;
    width: 33%;
    left: 31%;
  }
}

@media screen and (max-width: 421px) {
  .LightningBolt {
    top: 22%;
  }
  .Miss {
    top: 0;
    width: 35%;
    left: 29%;
  }
}

@media screen and (max-width: 400px) {
  .LightningBolt {
    top: 19%;
  }
  .Miss {
    top: -2%;
    width: 36%;
    left: 30%;
  }
}

@media screen and (max-width: 361px) {
  .LightningBolt {
    top: 18%;
  }
  .Miss {
    top: -2%;
    width: 34%;
  }
}

@media screen and (max-width: 321px) {
  .LightningBolt {
    top: 16%;
  }

  .Miss {
    top: -1%;
    width: 32%;
  }
}
