@import "../../../shared/variables.scss";

.GameContainer {
  .GameHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .TurnIndicator {
      padding: 8px 16px;
      background-color: $clr-martinique;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      font-family: "Quando", serif;
      font-size: 16px;
    }

    .CloseIcon {
      cursor: pointer;
      font-size: 32px;

      &:hover {
        color: $clr-arrow-hover;
      }

      &:active {
        color: $clr-arrow-active;
      }
    }
  }
  .GameScreen {
    margin-top: 8px;
    height: 418px;

    .CharactersContainer {
      position: absolute;
      display: flex;
      width: 100%;
      height: inherit;
      padding-bottom: 64px;

      .GameScreenHalf {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        width: 50%;

        .CharacterContainer {
          .Circle {
            -webkit-transform: scaleX(2);
            transform: scaleX(2);
            border-radius: 50%;

            .Rotate {
              height: 10px;
              animation: floating-wizard 3s infinite linear;
              transform-origin: 50% 50%;

              .CounterRotate {
                animation: floating-wizard-counterCircle 3s infinite linear;

                .WizardIllustration {
                  width: 75px;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  position: absolute;
                  -webkit-transform: scaleX(0.5);
                }
              }
            }
          }

          .CharacterIllustration {
            display: block;
            margin: 0 auto;
          }

          .DragonIllustration {
            animation: floating-dragon 2s linear 0s infinite;
          }
        }
      }
    }
  }

  .BackgroundImage {
    width: 100%;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    border: 4px solid $clr-martinique;
  }

  .WizardAttackContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  .ButtonsBar {
    display: flex;
    justify-content: center;
    margin-top: 8px;

    button:nth-of-type(2) {
      margin-left: 16px;
    }
  }
}

@keyframes floating-wizard {
  0% {
    transform: translateX(0) translateY(0);
  }
  20% {
    transform: translateX(3%) translateY(-3%);
  }
  40% {
    transform: translateY(-4%);
  }
  60% {
    transform: translateX(-3%) translateY(-3%);
  }
  80% {
    transform: translateX(-3%) translateY(0);
  }
}

@keyframes floating-dragon {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(0) translateY(-2%);
  }
  75% {
    transform: translateX(0) translateY(2%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes floating-wizard {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes floating-wizard-counterCircle {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
