@import "../../../shared/variables.scss";

.Toolbar {
  padding: 32px;
  background-color: $clr-martinique;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-top: -4px;
}

@media screen and (max-width: 541px) {
  .Toolbar {
    padding: 16px;
  }
}

@media screen and (max-width: 321px) {
  .Toolbar {
    white-space: nowrap;
  }
}
