@import "../../shared/variables.scss";

.FullWidthTextBubble {
  width: 100%;
  background-color: $clr-vulcan;
  border: 4px solid $clr-martinique;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  padding: 32px;
  position: relative;
  margin-bottom: 32px;

  &:after {
    content: "";
    height: 32px;
    width: 32px;
    position: absolute;
    background-color: $clr-vulcan;
    bottom: -21px;
    border-top: 4px solid $clr-martinique;
    border-left: 4px solid $clr-martinique;
    transform: rotate(225deg);
    -webkit-border-radius: 12px 0 0 0;
    -moz-border-radius: 12px 0 0 0;
    border-radius: 12px 0 0 0;
  }
}

.Left {
  &:after {
    left: 14%;
  }
}

.Center {
  &:after {
    left: 49%;
    left: -webkit-calc(50% - 16px);
    left: -moz-calc(50% - 16px);
    left: calc(50% - 16px);
  }
}

@media screen and (max-width: 695px) {
  .Left {
    //on smaller dimensions, all these points are centererd
    &:after {
      left: 49%;
      left: -webkit-calc(50% - 16px);
      left: -moz-calc(50% - 16px);
      left: calc(50% - 16px);
    }
  }
}

@media screen and (max-width: 621px) {
  .FullWidthTextBubble {
    padding: 24px;
  }
}
