// Color Names
$clr-butteryWhite: #fffce8;
$clr-vulcan: #0c0e19;
$clr-martinique: #2a294c;
$clr-anzac: #e1b554;
$clr-driftwood: #a88740;
$clr-pesto: #7a6432;

// Buttons/links
$clr-primary: $clr-anzac;
$clr-primary-hover: $clr-driftwood;
$clr-primary-active: $clr-pesto;

// Text
$clr-text: $clr-butteryWhite;
$clr-title: $clr-anzac;
