@import "../../shared/variables.scss";

.FeaturedProjects {
  margin-top: $spc-under-textAvatar-desktop;
  width: 100%;

  .PreviewImages {
    display: flex;
    align-items: center;
    position: relative;
    height: 428px;
    transform-style: preserve-3d;
  }
}

@media screen and (max-width: 541px) {
  .FeaturedProjects {
    margin-top: $spc-under-textAvatar-mobile;
  }
}
