@import "../../shared/variables.scss";

.ArrowSelector {
  width: 100%;
  margin-top: 16px;
  display: flex;
  position: initial;
  justify-content: center;
}

.ToolName {
  height: 48px;
  background-color: $clr-martinique;
  line-height: 48px;
  width: 170px;
  padding-left: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

// #FeaturedProjectsButton {
//   width: 33%;
// }
