@import "../../../shared/variables.scss";

.ToolList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px 32px;
  grid-template-areas:
    ". ."
    ". ."
    ". .";
}

@media screen and (max-width: 541px) {
  .ToolList {
    gap: 16px 8px;
  }
}

@media screen and (max-width: 321px) {
  .ToolList {
    display: unset;
  }
}
