@import "../../../../shared/variables.scss";

.ToolButton {
  width: 64px;
  height: 64px;
  display: inline-block;
  margin-right: 16px;
  background-color: $clr-primary;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  // text
  text-align: center;
  font-size: 40px;
  line-height: 64px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: $clr-vulcan;

  // remove default button styles
  border: none;
  cursor: pointer;
  outline: 0;

  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: $clr-primary-hover;
  }
  &:active {
    background-color: $clr-primary-active;
  }
}

.Active {
  color: $clr-butteryWhite;
}

.ToolButton ~ svg {
  position: absolute;
  margin-top: -6px;
  margin-left: -86px;
  path {
    stroke: $clr-butteryWhite;
  }
}

@media screen and (max-width: 720px) {
  .ToolButton {
    margin-top: 16px;

    & ~ svg {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 620px) {
  .ToolButton {
    width: 48px;
    height: 48px;
    font-size: 30px;
    line-height: 30px;
    margin-top: 0;
  }

  .ToolButton ~ svg {
    width: 63px;
    margin-left: -70px;
    margin-top: -6px;
    path {
      d: path(
        "M68,2 h12 a24,24 0 0 1 14,14 v12 m0,40 v12 a24,24 0 0 1 -14,14 h-12 m-40,0 h-12 a24,24 0 0 1 -14,-14 v-12 m0,-40 v-12 a24,24 0 0 1 14,-14 h12"
      );
    }
  }
}

@media screen and (max-width: 321px) {
  .ToolButton {
    margin-right: 8px;
    width: 44px;
    height: 44px;
    font-size: 28px;
    line-height: 28px;
  }

  .ToolButton ~ svg {
    width: 58px;
    margin-left: -58px;
    margin-top: -5px;
  }
}
