@import "./shared/variables.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  background-image: url("./assets/home/BG-stardust.png");
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inconsolata", monospace;
  font-size: $fnt-size-big;
  color: $clr-text;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3 {
  font-family: "Quando", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: $clr-title;
  font-weight: normal;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}
h4 {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  margin-bottom: 8px;
}

p {
  line-height: $fnt-lineHeight-big;
  font-weight: 300;
}

a {
  font-weight: bold;
  color: $clr-primary;

  &:hover {
    color: $clr-primary-hover;
  }
  &:active {
    color: $clr-primary-active;
  }
}

@media screen and (max-width: 541px) {
  body {
    font-size: $fnt-size-medium;
  }

  p {
    line-height: $fnt-lineHeight-medium;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}
