body {
  margin: 0;
  background-color: #000000;
  background-image: url("./assets/home/BG-stardust.png");
  height: 100vh;
  font-family: "Quando", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
