@import "../../shared/variables.scss";

.BottomContainer {
  display: flex;
  align-items: flex-start;

  .Avatar160 {
    display: none;
  }
}

@media screen and (max-width: 695px) {
  .BottomContainer {
    flex-direction: column;

    .AvatarImage {
      margin: 0 auto;
    }

    .Avatar230 {
      display: none;
    }

    .Avatar160 {
      display: initial;
    }
  }
}
